{% extends "perfiles/base.html" %}

{% block title %}Registrate{% endblock %}

{% block content %}
       
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <div class="left-0 text-left bg-faded p-5 rounded">
                    <form  action="" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group row py-2">
                            {{ form.username.errors }}
                            <label for="{{ form.username.id_for_label }}" class="col-sm-3 col-form-label">Nombre de usuario:</label>
                            <div class="col-sm-8">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            {{ form.email.errors }}
                            <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label">Email:</label>
                            <div class="col-sm-8">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            {{ form.first_name.errors }}
                            <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 col-form-label">Nombre:</label>
                            <div class="col-sm-8">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-group row py-2">
                            {{ form.last_name.errors }}
                            <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 col-form-label">Apellidos:</label>
                            <div class="col-sm-8">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div>
                            {{ form.password1.errors }}
                        </div>
                        <div class="form-group row py-2">
                            <label for="{{ form.password1.id_for_label }}" class="col-sm-3 col-form-label">Contraseña:</label>
                            <div class="col-sm-8">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div>
                            {{ form.password2.errors }}
                        </div> 
                        <div class="form-group row py-2">       
                            <label for="{{ form.password2.id_for_label }}" class="col-sm-3 col-form-label">Confirma tu contraseña:</label>
                            <div class="col-sm-8">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center py-3">
                            <input class="form-control col-sm-8 py-2" type="submit" name="submit">
                        </div>
                        
                    </form> 
                </div>
            </div>
        </div>
    </section>
{% endblock content %}